body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a, .sidenav h3 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidenav a {
  font-size: 18px;
  color: #818181;
}

.myNav{
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background: #111;
  width: 48px;
  padding: 10px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.account{
  color: white;
  margin: auto;
  text-align: center;
  margin-right: 20px;
  margin-top: 10px;
}
a:hover{
  background-color: #111;
}
#logo{
  margin-left: 20px;
  margin-top: 4px;
  width: 60px;
  height: 60px;
}
.content{
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}
.header{
  border-radius: 15px;
  background: #111;
  width: 100%;
  height: 70px;
  color: #fff;
  margin-bottom: 20px;
  /*padding-bottom: 20px;*/
}
.form-control{
  margin-top: 10px;
  margin-right: 15px;
}
.left-search{
  padding-right: 30px;
}
@media (max-width: 768px){
  ul.nav.navbar-nav.navbar-right{
    display: none;
  }
}
.thumbnail img{
  width: 100%;
}
.thumbnail {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  margin-bottom: 10px;
}
.thumbnail .caption-full{
  padding: 9px;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.alert ul {
  list-style-type: none;
}

.panel {
  margin-top: 10px;
}

.empty-title {
  font-size: 30px;
  color: #ddd;
}

.empty-title.small {
  font-size: 18px;
}